button{
    height: 30px;
    width: 25%;
    margin: 10px;
    border: none;
    background-color: steelblue;
    color: beige;
    border-radius: 10px;
  }

#reset {
    background-color: white;
    color: steelblue;
    border: solid 1px steelblue;
  }

#reset:disabled{
    color: gray;
    border: solid 1px gray;
}  

input {
    display: block;
    margin: 5px auto;
}
select {
    height: 30px;
    width: 75%;
    margin: 10px;
    border: solid steelblue;
    border-radius: 10px;
}  
  
button.current {
box-shadow: 0 0 0 2px white,
            0 0 0 4px black;
}

#title {
    text-align: center;
}

#wrapper{
    width: 300px;
    height: 300px;
    text-align: center;
}

#cookies-container{
    text-align: center;
}

#cookie-save {
    display: inline-block;
}


